{% extends 'base.html' %}
{% load static %}
{% block title %} Patient Profile {% endblock title %}

{% block content %} 
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}