<!doctype html>
<html lang="en">

<style type='text/css'>
    body {
        background-image: url(static/bc.png);
        background-position: center;
        background-size: cover;
        font-family: sans-serif;
        margin-top: 40px;

    }

    .regform {
        width: 800px;
        background-color: rgb(0, 0, 0, 0.8);
        margin: auto;
        color: #FFFFFF;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;

    }

    .main-form {
        width: 800px;
        margin: auto;
        background-color: rgb(0, 0, 0, 0.7);
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        color: #FFFFFF;
    }

    .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Breast Cancer Detection</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HealthCure</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/covid">Covid</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/braintumor">Brain Tumor</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/breastcancer">Breast Cancer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/alzheimer">Alzheimer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/diabetes">Diabetes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/pneumonia">Pneumonia</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/heartdisease">Heart Disease</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class='regform mt-3'>
        <h1>Breast Cancer Detection</h1>
    </div>

    <form action='resultbc' class='main-form needs-validation' method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class='form-group'>
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" required='True'>
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" required='True'>
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col'>
                <label for="phone">Phone No.</label>
                <input type="number" name="phone" id="phone" class="form-control" required='True'>
                <small class='form-text ' style='color: #FFFFFF;'>* Include your area code</small>
            </div>


            <div class='col'>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required='True'>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" class="form-control" required='True'>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="age">Age</label>
                    <input type="number" name="age" id="age" class="form-control" required='True'>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="concave_points_mean">Concave Points Mean</label>
                    <input type="number" step="any" name="concave_points_mean" id="concave_points_mean" class="form-control"
                        required='True'>
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="area_mean">Area Mean</label>
                    <input type="number" step="any" name="area_mean" id="area_mean" class="form-control" required='True'>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="radius_mean">Radius Mean</label>
                    <input type="number" step="any" name="radius_mean" id="radius_mean" class="form-control" required='True'>
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="perimeter_mean">Perimeter Mean</label>
                    <input type="number" step="any" name="perimeter_mean" id="perimeter_mean" class="form-control" required='True'>
                </div>
            </div>
            <div class="col">
                <div class='form-group'>
                    <label for="concavity_mean">Concavity Mean</label>
                    <input type="number" step="any" name="concavity_mean" id="concavity_mean" class="form-control" required='True'>
                </div>
            </div>
        </div>


        <div class='text-center'>
            <button type='submit' class='btn btn-outline-success' style='width:700px;margin-top: 30px;'> Submit
            </button>
        </div>



    </form>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>


</body>

</html>